@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

.slider {
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  min-height: 30px;
  background-image: url(/slide_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-layer {
  background-image: url(/bg_layer.png);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out both;
}
