services:
  - type: web
    name: Image-Background-Remover-Server
    env: node
    plan: free
    region: oregon
    repo: "https://github.com/iam-priyanshu-sharma/Image-Background-Remover.git"
    branch: main
    buildCommand: "cd server && npm install"
    startCommand: "cd server && npm start"
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: CLERK_WEBHOOK_SECRET
        sync: false
      - key: CLIPDROP_API
        sync: false
      - key: CURRENCY
        sync: false
      - key: RAZORPAY_KEY_ID
        sync: false
      - key: RAZORPAY_KEY_SECRET
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false

staticSites:
  - name: bg-removal-client
    repo: "https://github.com/iam-priyanshu-sharma/Image-Background-Remover.git"
    branch: main
    buildCommand: "cd client && npm ci && npm run build"
    publishPath: "client/dist"
    envVars:
      - key: VITE_CLERK_PUBLISHABLE_KEY
        sync: false
      - key: VITE_BACKEND_URL
        sync: false
      - key: VITE_RAZORPAY_KEY_ID
        sync: false
      - key: VITE_STRIPE_PUBLIC_KEY
        sync: false
